name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: python
          token: ${{ secrets.GITHUB_TOKEN }}

  release-build:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created == 'true' }} 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build release distributions
        if: ${{ needs.release-please.outputs.release_created }}
        run: |
          python -m pip install build
          python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs: 
      - release-build
    if: ${{ needs.release-please.outputs.release_created == 'true' }} 
    permissions:
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/project/pytsast/
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        if: ${{ needs.release-please.outputs.release_created }}
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
